<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062898457003-ogqtml37jum1uecgcat7mcbaetubtku9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062898457003-ogqtml37jum1uecgcat7mcbaetubtku9</string>
	<key>API_KEY</key>
	<string>AIzaSyAgHb4BpIfcz9KUn8z5vfQJz17ePHnk8vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1062898457003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.taskorganizer</string>
	<key>PROJECT_ID</key>
	<string>task-organizer-2ac40</string>
	<key>STORAGE_BUCKET</key>
	<string>task-organizer-2ac40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062898457003:ios:72c55673495c1216945aee</string>
</dict>
</plist>